[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
rdflib = "*"
streamlit = "*"
tqdm = "*"
st-annotated-text = "*"
millify = "*"
plotly = "*"
streamlit-aggrid = "*"

[dev-packages]

[requires]
python_version = "3.10"
